<include href="views/header.html"></include>
<body>
<div class="container">
    <h1>Interest</h1>
    <form action="" method="" class="form-control">
        <div>
            <label>In-door Interests</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Read</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck1">Netflix and chill</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck3">
                <label class="form-check-label" for="exampleCheck1">Cooking</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck4">
                <label class="form-check-label" for="exampleCheck1">Knitting/Crochet</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck5">
                <label class="form-check-label" for="exampleCheck1">Puzzle</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck6">
                <label class="form-check-label" for="exampleCheck1">Playing Cards</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck7">
                <label class="form-check-label" for="exampleCheck1">Video Games</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck8">
                <label class="form-check-label" for="exampleCheck1">Clean</label>
            </div>
        </div>
        <div>
            <label>Out-door Interest</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck9">
                <label class="form-check-label" for="exampleCheck1">Hiking</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck10">
                <label class="form-check-label" for="exampleCheck1">Biking</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck11">
                <label class="form-check-label" for="exampleCheck1">Walking</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck12">
                <label class="form-check-label" for="exampleCheck1">Shopping</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck13">
                <label class="form-check-label" for="exampleCheck1">Beach</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck14">
                <label class="form-check-label" for="exampleCheck1">Snowboarding</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck15">
                <label class="form-check-label" for="exampleCheck1">Sports</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck16">
                <label class="form-check-label" for="exampleCheck1">Road Trips</label>
            </div>
        </div>

    </form>
</div>
</body>
</html>