<include href="views/header.html"></include>
<body>
<div class="container d-flex">
    <div class="card px-1 py-3">
        <div class="card-body">
            <h5 class="card-title">Interests</h5>
            <form action="summary" method="post" class="form-control">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label class="form-control">In-door Interests</label>
                        </div>
                        <div class="form-check-inline">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck1" value="read">
                                <label class="form-check-label" for="exampleCheck1">Read</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]"id="exampleCheck2" value="tv">
                                <label class="form-check-label" for="exampleCheck1">Netflix and chill</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck3" value="cook">
                                <label class="form-check-label" for="exampleCheck1">Cooking</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck4" value="yarn">
                                <label class="form-check-label" for="exampleCheck1">Knitting/Crochet</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck5" value="puzzle">
                                <label class="form-check-label" for="exampleCheck1">Puzzle</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck6" value="cards">
                                <label class="form-check-label" for="exampleCheck1">Playing Cards</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck7" value="video">
                                <label class="form-check-label" for="exampleCheck1">Video Games</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck8" value="clean">
                                <label class="form-check-label" for="exampleCheck1">Clean</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <label class="form-control">Out-door Interest</label>
                        </div>
                        <div class="form-check-inline">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck9" value="hike">
                                <label class="form-check-label" for="exampleCheck1">Hiking</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck10" value="bike">
                                <label class="form-check-label" for="exampleCheck1">Biking</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck11" value="walk">
                                <label class="form-check-label" for="exampleCheck1">Walking</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck12" value="shop">
                                <label class="form-check-label" for="exampleCheck1">Shopping</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck13" value="beach">
                                <label class="form-check-label" for="exampleCheck1">Beach</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck14" value="trips">
                                <label class="form-check-label" for="exampleCheck1">Trips</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck15" value="sports">
                                <label class="form-check-label" for="exampleCheck1">Sports</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck16" value="road">
                                <label class="form-check-label" for="exampleCheck1">Road Trips</label>
                            </div>
                        </div>
                    <div>
                        <button class="btn btn-danger float-right" type="submit">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>