<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>My Dating Website</title>
</head>
<body class="container">
<!--Nav Bar-->
<nav class="navbar navbar-expand-md my-5 bg-dark">
    <ul id="myNav" class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link bg-light" href="{{ @BASE }}">My Dating Website</a>
        </li>
    </ul>
</nav>
<div class="form-box row mt-3 border">
    <div class="col-12 p-3">
        <h5>Interests</h5>
        <hr>
        <form action="summary" method="post" class="form-control">
            <!--Indoor Interest-->
            <div>
                <label class="form-group">In-door Interests</label>
            </div>
            <div class="row">
                <div class="col ml-3">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck1" value="read">
                    <label class="form-check-label" for="exampleCheck1">Read</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input " name="interest[]" id="exampleCheck2" value="tv">
                    <label class="form-check-label" for="exampleCheck1">Netflix and chill</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck3" value="cook">
                    <label class="form-check-label" for="exampleCheck1">Cooking</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck4" value="yarn">
                    <label class="form-check-label" for="exampleCheck1">Knitting/Crochet</label>
                </div>
            </div>
            <div class="row">
                <div class="col ml-3">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck5" value="puzzle">
                    <label class="form-check-label" for="exampleCheck1">Puzzle</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck6" value="cards">
                    <label class="form-check-label" for="exampleCheck1">Playing Cards</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck7" value="video">
                    <label class="form-check-label" for="exampleCheck1">Video Games</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck8" value="clean">
                    <label class="form-check-label" for="exampleCheck1">Clean</label>
                </div>
            </div>
            <!--Out-door Interest-->
            <div>
                <label class="form-group mt-3">Out-door Interest</label>
            </div>
            <div class="row">

                <div class="col ml-3">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck9" value="hike">
                    <label class="form-check-label" for="exampleCheck1">Hiking</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck10" value="bike">
                    <label class="form-check-label" for="exampleCheck1">Biking</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck11" value="walk">
                    <label class="form-check-label" for="exampleCheck1">Walking</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck12" value="shop">
                    <label class="form-check-label" for="exampleCheck1">Shopping</label>
                </div>
            </div>
            <div class="row">
                <div class="col ml-3">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck13" value="beach">
                    <label class="form-check-label" for="exampleCheck1">Beach</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck14" value="trips">
                    <label class="form-check-label" for="exampleCheck1">Trips</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck15" value="sports">
                    <label class="form-check-label" for="exampleCheck1">Sports</label>
                </div>
                <div class="col">
                    <input type="checkbox" class="form-check-input" name="interest[]" id="exampleCheck16" value="camping">
                    <label class="form-check-label" for="exampleCheck1">Camping</label>
                </div>
            </div>
            <!--Next Button-->
            <div>
                <button class="btn btn-danger float-right mt-3" type="submit">Next</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>