<include href="views/header.html"></include>
<body>
<div class="container">
    <h1>Personal Information</h1>
    <form action="profile" method="post" class="form-control">
        <!--Get Information-->
        <div>
            <!--First Name-->
            <label for="first" class="col-sm-4 control-label">First Name:</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="first" id="first">
            </div>
            <!--Last Name-->
            <label for="last" class="col-sm-4 control-label">Last Name:</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="last" id="last">
            </div>
            <!--Age-->
            <label for="age" class="col-sm-4 control-label">Age:</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="age" id="age">
            </div>
            <!--Option Gender-->
            <!--Male-->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Male</label>
            </div>
            <!--Female-->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Female</label>
            </div>
            <!--Non-Binary-->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">Non-binary</label>
            </div>
            <!--Phone Number-->
            <label for="phone" class="col-sm-4 control-label">Phone Number:</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="phone" id="phone">
            </div>
            <!--Next button-->
            <div>
                <button class="btn btn-primary" type="submit">Next</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>