<include href="views/header.html"></include>
<body>
<div class="container d-flex">
    <div class="card px-1 py-3">
        <div class="card-body">
            <h5 class="card-title">Personal Information</h5>
            <form action="profile" method="post" class="form-control">
                <!--Get Information-->
                <div class="row">
                    <!--First Name-->
                    <div class="col-md-6">
                    <label for="first" class="col-sm-4 control-label">First Name:</label>
                    <input class="form-control" type="text"
                                                 name="first" id="first">
                    </div>
                    <!--Last Name-->
                    <div class="col-md-6">
                    <label for="last" class="col-sm-4 control-label">Last Name:</label>
                    <input class="form-control" type="text"
                                                 name="last" id="last">
                    </div>
                    <!--Age-->
                    <div class="col-md-6">
                    <label for="age" class="mt-2 px-3">Age:</label>
                    <input class="form-control" type="text"
                                                 name="age" id="age">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="mt-2 px-3">Phone Number:</label>
                        <input class="form-control" type="text"
                               name="phone" id="phone">
                    </div>
                    <!--Option Gender-->
                    <!--Male-->
                    <div class="container px-3 mt-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Male</label>
                        </div>
                        <!--Female-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Female</label>
                        </div>
                        <!--Non-Binary-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Non-binary</label>
                        </div>
                    </div>


                    <!--Next button-->
                    <div class="col-12">
                        <button class="btn btn-danger float-right px-3" type="submit">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>