<include href="views/header.html"></include>
<body>
<div class="container">
    <h1>Profile</h1>
    <form action="" method="" class="form-control">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Email input">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="State input">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <label>Seeking</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Female</label>
        </div>
        <div class="form-check form-check-inline">
            <label>Seeking</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Non-Binary</label>
        </div>
        <div class="form-check form-check-inline">
            <label>Biography</label>
            <textarea>Character of 300</textarea>
        </div>

    </form>
</div>
</body>
</html>