<!--
Author:  Cherie Menchaca
File Name: summary.html
File Description: Summary Page for My Dating Website(dating website)
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>My Dating Website</title>
</head>
<body  class="container">
    <div class="row border px-5">
        <div class="col-6">
            <div class="col-md-12 mt-5">
                <table>
                    <tr>
                        <td class="py-2">Name: {{ @SESSION.first }} {{ @SESSION.last }}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Gender: {{ @SESSION.gender }}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Age:  {{@SESSION.age}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Phone:  {{@SESSION.phone}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Email:  {{@SESSION.email}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">State:  {{@SESSION.state}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Seeking:  {{@SESSION.seeking}}</td>
                    </tr>
                    <check if="{{ ($_SESSION['profile'] instanceof premium) }}">
                        <tr>
                            <td class="p-2">Interests: {{ @SESSION.profile->getInDoorInts() }}, {{ @SESSION.profile->getOutDoorInts() }}</td>
                        </tr>
                    </check>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="col-md-12">
                <img class="mx-auto d-block mt-5" src="image/profile_pic.png">
                <p class="mt-2">Biography: </p>
                <p>{{@SESSION.bio}}</p>
            </div>
        </div>
        <div class="text-center col">
            <button class="btn-danger my-3">Contact Me!</button>
        </div>
    </div>
</body>
</html>